html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/login.css")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        <link href="https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500;600;700&family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
        title login
    body
        form(action="/login" method="POST")
            h2 Login
            input(type="text" name="username" placeholder="username" required)
            input(type="password" name="password" placeholder="password" required)
            p.err-msg
            button LOGIN
        .loading
        script(src="/scripts/auth/login.js") 

